In [0]:
import numpy as np
import pandas as pd

In [29]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/hngi6/Recommendation_system/

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).
/gdrive/My Drive/hngi6/Recommendation_system

In [30]:
#load notifications.csv

#columns= ("user_id","post-id", "action", "comment","sender_id")
notifications= pd.read_csv("notifications.csv")

#convert to Dataframe
notificationData= pd.DataFrame(notifications)

notificationData.head()

   user_id  post_id     action   comment  sender_id
0        7      NaN   Followed       NaN          4
1        4      NaN   Followed       NaN          1
2       45      NaN   Followed       NaN          3
3        4      NaN   Followed       NaN          1
4        4    278.0  Commented  Hey bro!          1

In [31]:
notificationData["action"].value_counts()

Followed     130
Commented     25
Like          15
Love          14
Replied        6
Name: action, dtype: int64

In [0]:
#removing Followed from action as we do not need it here
indexNames = notificationData[ notificationData['action'] == "Followed"].index
notificationData.drop(indexNames, inplace= True)

In [33]:
#removing some unrequired columns.
notificationData.drop(['comment','sender_id'], axis=1, inplace= True)

notificationData.head()

   user_id  post_id     action
4        4    278.0  Commented
5        7    360.0  Commented
6        7    360.0  Commented
8     2191    143.0  Commented
9        3    371.0  Commented

In [34]:
#Assiging ratings to each action on a scale of 1 to 5
action_rating = {'Love':5,'Like':4,'Commented': 3, 'Replied':3}

notificationData['Ratings'] = notificationData['action'].apply(lambda x: action_rating[x])

notificationData.head()

   user_id  post_id     action  Ratings
4        4    278.0  Commented        3
5        7    360.0  Commented        3
6        7    360.0  Commented        3
8     2191    143.0  Commented        3
9        3    371.0  Commented        3

In [35]:
#arranging columns
userRatings = notificationData[['user_id','post_id','Ratings']]

userRatings.head()

   user_id  post_id  Ratings
4        4    278.0        3
5        7    360.0        3
6        7    360.0        3
8     2191    143.0        3
9        3    371.0        3

In [36]:
#sorting the table according to user_ids
userRatings= userRatings.sort_values(by='user_id', axis= 0, ascending= True)

userRatings.head()

     user_id  post_id  Ratings
166        1    995.0        5
151        1    355.0        3
162        1    996.0        4
163        1    996.0        5
152        1    996.0        4

In [0]:
#Exporting the ratings data as a .csv file
userRatings.to_csv('ratings.csv')