<a href="https://colab.research.google.com/github/Austin-Deccentric/hngi6/blob/master/Article_recommender.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install -U turicreate

Collecting turicreate
  Downloading https://files.pythonhosted.org/packages/68/d7/66c315dc0b33d5bff78617302bf3211a16b0630b34964291294ffe98f2f5/turicreate-5.7.1-cp36-cp36m-manylinux1_x86_64.whl (90.5MB)
     |████████████████████████████████| 90.5MB 1.2MB/s
Requirement already satisfied, skipping upgrade: scipy>=1.1.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.3.1)
Collecting pillow>=5.2.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/14/41/db6dec65ddbc176a59b89485e8cc136a433ed9c6397b6bfe2cd38412051e/Pillow-6.1.0-cp36-cp36m-manylinux1_x86_64.whl (2.1MB)
     |████████████████████████████████| 2.1MB 40.3MB/s
Requirement already satisfied, skipping upgrade: decorator>=4.0.9 in /usr/local/lib/python3.6/dist-packages (from turicreate) (4.4.0)
Requirement already satisfied, skipping upgrade: prettytable==0.7.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.7.2)
Requirement already satisfied, skipping upgrade: requests>=2.9.1 in /usr/local/lib/python3.6/dist-packages (from turicreate) (2.21.0)
Collecting coremltools==3.0b3 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/b8/89/b69e3d446dbfe5632a8f24be0c7d03b19bcc6c0a0bd3d84c83c6680bb602/coremltools-3.0b3-cp36-none-manylinux1_x86_64.whl (3.4MB)
     |████████████████████████████████| 3.4MB 32.2MB/s
Collecting numpy==1.16.4 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/87/2d/e4656149cbadd3a8a0369fcd1a9c7d61cc7b87b3903b85389c70c989a696/numpy-1.16.4-cp36-cp36m-manylinux1_x86_64.whl (17.3MB)
     |████████████████████████████████| 17.3MB 41.2MB/s
Collecting mxnet<1.2.0,>=1.1.0 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/96/98/c9877e100c3d1ac92263bfaba7bb8a49294e099046592040a2ff8620ac61/mxnet-1.1.0.post0-py2.py3-none-manylinux1_x86_64.whl (23.8MB)
     |████████████████████████████████| 23.8MB 1.2MB/s
Collecting resampy==0.2.1 (from turicreate)
  Downloading https://files.pythonhosted.org/packages/14/b6/66a06d85474190b50aee1a6c09cdc95bb405ac47338b27e9b21409da1760/resampy-0.2.1.tar.gz (322kB)
     |████████████████████████████████| 327kB 37.7MB/s
Requirement already satisfied, skipping upgrade: pandas>=0.23.2 in /usr/local/lib/python3.6/dist-packages (from turicreate) (0.24.2)
Requirement already satisfied, skipping upgrade: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from turicreate) (1.12.0)
Requirement already satisfied, skipping upgrade: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (3.0.4)
Requirement already satisfied, skipping upgrade: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2.8)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.9.1->turicreate) (2019.6.16)
Requirement already satisfied, skipping upgrade: protobuf>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from coremltools==3.0b3->turicreate) (3.7.1)
Collecting graphviz<0.9.0,>=0.8.1 (from mxnet<1.2.0,>=1.1.0->turicreate)
  Downloading https://files.pythonhosted.org/packages/53/39/4ab213673844e0c004bed8a0781a0721a3f6bb23eb8854ee75c236428892/graphviz-0.8.4-py2.py3-none-any.whl
Requirement already satisfied, skipping upgrade: numba>=0.32 in /usr/local/lib/python3.6/dist-packages (from resampy==0.2.1->turicreate) (0.40.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2.5.3)
Requirement already satisfied, skipping upgrade: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.2->turicreate) (2018.9)
Requirement already satisfied, skipping upgrade: setuptools in /usr/local/lib/python3.6/dist-packages (from protobuf>=3.1.0->coremltools==3.0b3->turicreate) (41.2.0)
Requirement already satisfied, skipping upgrade: llvmlite>=0.25.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba>=0.32->resampy==0.2.1->turicreate) (0.29.0)
Building wheels for collected packages: resampy
  Building wheel for resampy (setup.py) ... done
  Created wheel for resampy: filename=resampy-0.2.1-cp36-none-any.whl size=320847 sha256=65e74fcde4f0c1659cdc1a04510ce7d277886c9e082d8b330344a16ef481ec41
  Stored in directory: /root/.cache/pip/wheels/ff/4f/ed/2e6c676c23efe5394bb40ade50662e90eb46e29b48324c5f9b
Successfully built resampy
ERROR: datascience 0.10.6 has requirement folium==0.2.1, but you'll have folium 0.8.3 which is incompatible.
ERROR: albumentations 0.1.12 has requirement imgaug<0.2.7,>=0.2.5, but you'll have imgaug 0.2.9 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement numpy<1.15.0,>=1.8.2, but you'll have numpy 1.16.4 which is incompatible.
ERROR: mxnet 1.1.0.post0 has requirement requests<2.19.0,>=2.18.4, but you'll have requests 2.21.0 which is incompatible.
Installing collected packages: pillow, numpy, coremltools, graphviz, mxnet, resampy, turicreate
  Found existing installation: Pillow 4.3.0
    Uninstalling Pillow-4.3.0:
      Successfully uninstalled Pillow-4.3.0
  Found existing installation: numpy 1.16.5
    Uninstalling numpy-1.16.5:
      Successfully uninstalled numpy-1.16.5
  Found existing installation: graphviz 0.10.1
    Uninstalling graphviz-0.10.1:
      Successfully uninstalled graphviz-0.10.1
  Found existing installation: resampy 0.2.2
    Uninstalling resampy-0.2.2:
      Successfully uninstalled resampy-0.2.2
Successfully installed coremltools-3.0b3 graphviz-0.8.4 mxnet-1.1.0.post0 numpy-1.16.4 pillow-6.1.0 resampy-0.2.1 turicreate-5.7.1

In [0]:
import pandas as pd
import numpy as np
import turicreate as tc

In [5]:
from google.colab import drive
drive.mount('/gdrive')
%cd /gdrive/My Drive/hngi6/Recommendation_system/

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /gdrive
/gdrive/My Drive/hngi6/Recommendation_system

In [0]:
post = pd.read_csv('posts.csv')
ratings = pd.read_csv('ratings.csv')

In [7]:
post.head(10)

   user_id  ...                                   slug
0     2077  ...  what-i-have-learnt-so-far-on-html-985
1     1719  ...                   html-begins-here-4d6
2     1310  ...            my-laziness-in-the-open-029
3     1787  ...                          my-task-2-649
4      167  ...                             task-2-7e5
5      329  ...                 my-journey-on-html-ce5
6     2040  ...            startng-html-exposition-4d5
7     1787  ...                          my-task-2-649
8     2040  ...                  startng-html-task-8e2
9     2040  ...          on-startng-pre-internship-645

[10 rows x 5 columns]

In [0]:
col = ['tags', 'slug']

post = post.drop(post[col], axis=1)

In [9]:
post.head()

   user_id  ...                                            content
0     2077  ...  I learnt how to use the table tag as i have us...
1     1719  ...   I am on this journey with start.ng, and here ...
2     1310  ...  I have not been attending classes on the HNG c...
3     1787  ...  My journey on **StartNG** pre-internship progr...
4      167  ...   A Summary on The “idongesit.html” CV, Its Str...

[5 rows x 3 columns]

In [10]:
ratings.head()

   user_id  post_id  Ratings
0        1      995        5
1        1      355        3
2        1      996        4
3        1      996        5
4        1      996        4

In [0]:
#n_users = merge_col.user_id.unique().shape[0]
#n_posts = merge_col.post_id.unique().shape[0]
#print(n_users)
#print(n_posts)

In [12]:
merge_col = pd.merge(post, ratings, on='user_id')


merge_col.head()

   user_id                             title  ... post_id  Ratings
0     2191      What you have learned so far  ...     143        3
1     2191      What you wish to still learn  ...     143        3
2     2191  What you wish should be improved  ...     143        3
3        4             Good Afternoon People  ...     999        4
4        4             Good Afternoon People  ...     278        3

[5 rows x 5 columns]

In [13]:
#number of unique users
n_users = post['user_id'].unique() ; print("number of unique users" , len(n_users))

number of unique users 308

In [14]:
#number of unquie posts
n_posts = post['title'].unique() ; print("Number of unique posts" , len(n_posts))

Number of unique posts 658

In [0]:
merge_col.to_csv('merged_data.csv')

In [0]:
merged_data = pd.read_csv('merged_data.csv')

In [20]:
merged_data.head()

   user_id                             title  ... post_id  Ratings
0     2191      What you have learned so far  ...     143        3
1     2191      What you wish to still learn  ...     143        3
2     2191  What you wish should be improved  ...     143        3
3        4             Good Afternoon People  ...     999        4
4        4             Good Afternoon People  ...     278        3

[5 rows x 5 columns]

In [21]:
data = tc.SFrame.read_csv('merged_data.csv')

Finished parsing file /gdrive/My Drive/hngi6/Recommendation_system/merged_data.csv

Parsing completed. Parsed 100 lines in 0.04922 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,int,int]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /gdrive/My Drive/hngi6/Recommendation_system/merged_data.csv

Parsing completed. Parsed 622 lines in 0.028372 secs.

**Building The Model**

In [0]:
#using the ranking factorization 
train_data, validation_data = tc.recommender.util.random_split_by_user(data, 'user_id', 'title')

In [29]:
ranking_model = tc.ranking_factorization_recommender.create(train_data, user_id ='user_id', item_id ='title',target = 'Ratings')

Preparing data set.

    Data has 505 observations with 8 users and 45 items.

    Data prepared in: 0.01666s

Training ranking_factorization_recommender for recommendations.

+--------------------------------+--------------------------------------------------+----------+

| Parameter                      | Description                                      | Value    |

+--------------------------------+--------------------------------------------------+----------+

| num_factors                    | Factor Dimension                                 | 32       |

| regularization                 | L2 Regularization on Factors                     | 1e-09    |

| solver                         | Solver used for training                         | adagrad  |

| linear_regularization          | L2 Regularization on Linear Coefficients         | 1e-09    |

| ranking_regularization         | Rank-based Regularization Weight                 | 0.25     |

| max_iterations                 | Maximum Number of Iterations                     | 25       |

+--------------------------------+--------------------------------------------------+----------+

  Optimizing model using SGD; tuning step size.

  Using 505 / 505 points for tuning the step size.

+---------+-------------------+------------------------------------------+

| Attempt | Initial Step Size | Estimated Objective Value                |

+---------+-------------------+------------------------------------------+

| 0       | 12.5              | Not Viable                               |

| 1       | 3.125             | Not Viable                               |

| 2       | 0.78125           | Not Viable                               |

| 3       | 0.195312          | No Decrease (2.60306 >= 1.36524)         |

| 4       | 0.0488281         | 1.18588                                  |

| 5       | 0.0244141         | 1.06091                                  |

| 6       | 0.012207          | 1.10408                                  |

| 7       | 0.00610352        | 1.16448                                  |

| 8       | 0.00305176        | 1.21708                                  |

+---------+-------------------+------------------------------------------+

| Final   | 0.0244141         | 1.06091                                  |

+---------+-------------------+------------------------------------------+

Starting Optimization.

+---------+--------------+-------------------+-----------------------+-------------+

| Iter.   | Elapsed Time | Approx. Objective | Approx. Training RMSE | Step Size   |

+---------+--------------+-------------------+-----------------------+-------------+

| Initial | 70us         | 1.36524           | 0.833881              |             |

+---------+--------------+-------------------+-----------------------+-------------+

| 1       | 15.817ms     | 0.666089          | 0.723905              | 0.0244141   |

| 2       | 19.774ms     | 0.609249          | 0.695971              | 0.0244141   |

| 3       | 24.589ms     | 0.584712          | 0.686654              | 0.0244141   |

| 4       | 28.754ms     | 0.570246          | 0.67917               | 0.0244141   |

| 5       | 34.822ms     | 0.561522          | 0.676987              | 0.0244141   |

| 10      | 47.506ms     | 0.530576          | 0.669116              | 0.0244141   |

| 25      | 75.96ms      | 0.494763          | 0.663071              | 0.0244141   |

+---------+--------------+-------------------+-----------------------+-------------+

Optimization Complete: Maximum number of passes through the data reached.

Computing final objective value and training RMSE.

       Final objective value: 1.17343

       Final training RMSE: 0.656017

In [28]:
#Building item similarity using Cosine similarity
item_sim_model = tc.item_similarity_recommender.create(train_data, user_id='user_id', item_id='content', target='Ratings', similarity_type='cosine')

Warning: Ignoring columns title, post_id;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 505 observations with 8 users and 51 items.

    Data prepared in: 0.003793s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 168us                          | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 338us                               | 1.5              | 0               |

| 712us                               | 100              | 51              |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 0.00128s

**Comparing The two trained models**

In [30]:
tc.recommender.util.compare_models(validation_data, [ranking_model,item_sim_model], metric='rmse')

PROGRESS: Evaluate model M0

Overall RMSE: 0.6714510153060398

Per User RMSE (best)
+---------+---------------------+-------+
| user_id |         rmse        | count |
+---------+---------------------+-------+
|    3    | 0.26595761735749474 |   43  |
+---------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+--------------------+-------+
| user_id |        rmse        | count |
+---------+--------------------+-------+
|    7    | 1.2595800365271255 |   7   |
+---------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+---------------+----------------------+-------+
|     title     |         rmse         | count |
+---------------+----------------------+-------+
| Lucid is live | 0.013970796689121379 |   1   |
+---------------+----------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+--------------------+-------+
|             title             |        rmse        | count |
+-------------------------------+--------------------+-------+
| ARE YOU CAPABLE OF BEING R... | 1.3882713052715516 |   2   |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]

PROGRESS: Evaluate model M1

Overall RMSE: 0.6879155743346752

Per User RMSE (best)
+---------+---------------------+-------+
| user_id |         rmse        | count |
+---------+---------------------+-------+
|    3    | 0.27835278621501197 |   43  |
+---------+---------------------+-------+
[1 rows x 3 columns]


Per User RMSE (worst)
+---------+-------------------+-------+
| user_id |        rmse       | count |
+---------+-------------------+-------+
|    1    | 1.446790634928486 |   2   |
+---------+-------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (best)
+-------------------------------+--------------------+-------+
|            content            |        rmse        | count |
+-------------------------------+--------------------+-------+
| <p>So we finally took luci... | 0.1369864472321103 |   1   |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]


Per Item RMSE (worst)
+-------------------------------+--------------------+-------+
|            content            |        rmse        | count |
+-------------------------------+--------------------+-------+
| second![](/storage/1/image... | 1.8375000059604645 |   1   |
+-------------------------------+--------------------+-------+
[1 rows x 3 columns]

[{'rmse_by_item': Columns:
  	title	str
  	rmse	float
  	count	int

  Rows: 29

  Data:
  +------------------------------+----------------------+-------+
  |            title             |         rmse         | count |
  +------------------------------+----------------------+-------+
  |        Lucid is live         | 0.013970796689121379 |   1   |
  |    My Experience In HTML     |  0.4468364043048592  |   9   |
  |       SHALLOW THINKING       |  0.8575637876327495  |   1   |
  | My Internship Journey So Far | 0.30400101211977787  |   5   |
  |      Took a long while       |  0.3383643758278332  |   1   |
  |     this is a test post      |  0.8376913224283208  |   7   |
  |        Lucid is back         | 0.021811943039410208 |   3   |
  |       Welcome to Lucid       |  0.6389040360330667  |   7   |
  |             Test             |  0.2121500161745069  |   1   |
  |    New features incoming     | 0.09328770628219087  |   4   |
  +------------------------------+----------------------+-------+
  [29 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
  'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 4

  Data:
  +---------+---------------------+-------+
  | user_id |         rmse        | count |
  +---------+---------------------+-------+
  |    2    |   0.75953840655211  |   65  |
  |    7    |  1.2595800365271255 |   7   |
  |    3    | 0.26595761735749474 |   43  |
  |    1    |  0.7427302636755173 |   2   |
  +---------+---------------------+-------+
  [4 rows x 3 columns],
  'rmse_overall': 0.6714510153060398},
 {'rmse_by_item': Columns:
  	content	str
  	rmse	float
  	count	int

  Rows: 32

  Data:
  +-------------------------------+--------------------+-------+
  |            content            |        rmse        | count |
  +-------------------------------+--------------------+-------+
  |   <p>i need this to work</p>  | 0.9022808981579381 |   7   |
  |     <p>I love this app</p>    | 0.9851133764215219 |   3   |
  | <p>I was alone in the cent... | 1.1948617696762085 |   3   |
  | It's quite easy to be good... | 0.6041666666666665 |   1   |
  | <p>“Come to class, come to... | 0.1386347966534749 |   4   |
  | \`html\`\n\n  \n\n\`<!DOCT... | 0.7373283997000668 |   8   |
  | <p>In 2004 I was in Brazil... | 0.6426312094538449 |   7   |
  | <p><img src="/storage/jeff... | 0.1369864472321103 |   1   |
  | We have taken time to work... | 0.1379854466233934 |   3   |
  | <p>About time I made one.<... | 0.1386347966534749 |   4   |
  +-------------------------------+--------------------+-------+
  [32 rows x 3 columns]
  Note: Only the head of the SFrame is printed.
  You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.,
  'rmse_by_user': Columns:
  	user_id	int
  	rmse	float
  	count	int

  Rows: 4

  Data:
  +---------+---------------------+-------+
  | user_id |         rmse        | count |
  +---------+---------------------+-------+
  |    2    |  0.8365581670588297 |   65  |
  |    7    |  0.580723327698598  |   7   |
  |    3    | 0.27835278621501197 |   43  |
  |    1    |  1.446790634928486  |   2   |
  +---------+---------------------+-------+
  [4 rows x 3 columns],
  'rmse_overall': 0.6879155743346752}]

**Now to Test the System**

In [32]:
all_users_rank = ranking_model.recommend(k=5)
all_users_rank

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 40

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2191  |             First             |  3.86406084990295  |  1   |
|   2191  |             third             | 3.8598201452025993 |  2   |
|   2191  |       Took a long while       | 3.8518344117531402 |  3   |
|   2191  |             second            | 3.7884046901220305 |  4   |
|   2191  | BUILD AROUND YOUR DISCOVER... |  3.67769249810072  |  5   |
|    4    |             First             | 3.963874437866531  |  1   |
|    4    |             third             | 3.851103971732579  |  2   |
|    4    |       Took a long while       | 3.826869505477868  |  3   |
|    4    |             second            | 3.784346805905722  |  4   |
|    4    |           html test           | 3.650228773264013  |  5   |
+---------+-------------------------------+--------------------+------+
[40 rows x 4 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

Making Recommendations for new users

In [34]:
#use-id 2020 is a new user
rank_factor = rating_model.recommend(users=[2020], k=3)
rank_factor

Columns:
	user_id	int
	title	str
	score	float
	rank	int

Rows: 3

Data:
+---------+-------------------------------+--------------------+------+
| user_id |             title             |       score        | rank |
+---------+-------------------------------+--------------------+------+
|   2020  | YOUR HIGH IQ WILL KILL YOU... | 4.044153985587679  |  1   |
|   2020  | A CHINESE VILLAGER WHO SEL... |  3.98819037994536  |  2   |
|   2020  | BUILD AROUND YOUR DISCOVER... | 3.8547673719206674 |  3   |
+---------+-------------------------------+--------------------+------+
[3 rows x 4 columns]